

/* ================================= 
  JS styles (dynamically applied)
==================================== */

.js-grey-out {
	color: lightslategrey;
}


/***** Validation styles *****/

.js-error {
	border: 2px solid #a14d54;
}

.js-error-message {
	display: inline-block;
	margin-bottom: 10px;
	color: #a14d54;
	font-weight: bold;
}

input:focus.js-error {
	border-color: #a14d54;
}

/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
 font-family: 'Lato', sans-serif;
}

body {
  font-size: 16px;
  color: #01796f;
	background: #01796f;
}

header {
	text-align: center;
	color: white;  
}

header span {
	font-size: 1.3em;
}

h1 {
	font-size: 3.3em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	margin: 0;
	
}

a {
  text-decoration: none;
}

/* ================================= 
  Form Element Styles
==================================== */

form {
	padding: .875em 1.875em 1.875em;
	/* background: #a1c7c4; */
	background: #fff;

}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}


legend {
	font-weight: bold;
	font-size: 1.7em;
	padding-top: .6em;
	border-top: 2px solid #01796f;
	margin-bottom: 1.125em;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #000;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;	
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #e4f0ee;
	border: 2px solid #e4f0ee;
	outline: none;
}

input:focus {
	background: #fff;
	border-color: #01796f;
	transition: border-color .5s, background-color .5s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: #fff;
	padding: .55em 1.25em;
	background: #01796f;
	margin: 1.25em 0 .5em;
	cursor: pointer;
	font-size: 1.35em;
	/* font-weight: bold; */
}

button:hover {
	background: #01675e;
	transition: background-color .1s;
}

/* ================================= 
  Page Styles
==================================== */

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

/* ================================= 
  Helper Classes
==================================== */

.is-hidden {
	display: none;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.cc-drop-down {
	clear: left;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
	header {
		padding: 2em 0;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 680px) {
	header {
		padding: 4.65em 0 2.5em;
	}
	.col {
		float: left;
	}
	.col + .col {
		margin-left: 2.5%;
	}
	.col-3 {
		width: 23%;
	}
	.col-6 {
		width: 49%;
	}
}

